@charset "utf-8";

.cart-container  {
    max-width: 360px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.cart-container p {
    padding:0; margin:0;
}
.cart-container .cart-product {
    padding: 1rem 1rem 2rem 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 1rem;
    position: relative;
}
.cart-container .cart-product>div {
    
/*    background-color: green;*/
}
.cart-container .cart-product a {
    /*    padding-top: 0px;*/
    line-height: 1.2rem;
}
.cart-container .cart-product img {
    width:75px;
    margin-right: 1rem;
}
.cart-container .cart-product .cart-item-text {
    width: 130px;
    height: 100%;
    margin-left: 10px;
}
.cart-container .cart-product .cart-item-text:hover .item-name {
    color:#7f0019;
}
.cart-container .cart-product .item-del {
    position: absolute;
    top:0.5rem; right:1rem;
    color:#888;
}

.cart-container .cart-product .item-del:hover .icon{
    fill:#7f0019;
}
.cart-container .cart-product .item-price {
/*    border:1px solid green;*/
    position: absolute;
    width: 94%;
    right:1rem; bottom:0;
/*    border-top: 1px solid rgba(0, 0, 0, 0.1);*/
/*    padding-right: 1rem;*/
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    text-align: right;
    font-size: 0.65rem;
/*    font-weight: 500;*/
}
.cart-container .cart-btn {
    height:3rem;
}
.cart-container .keep-shop{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 4rem;
    font-weight: 300;
    color:#888;
}
.cart-container .discover-btn{
    margin-left: 3rem;
}
.cart-container .discover-btn a{
    margin-left: 1rem;
    color:#333;
}
.cart-container .discover-btn:hover a{
    color:#fff;
}