@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 400;
}

section, footer {
    overflow-x: hidden;
}

a {color:black;}
a:hover {color:#7f0019; text-decoration: none;}

.dropdown-menu {border:0; border-radius: 0;}
.dropdown-toggle::after {display:none;}

button {
    outline:none;
    background: transparent;
    border:none;
    box-shadow: none;
    cursor:pointer;
}
button:focus {
    outline: 0 !important;
}

.txt-shdw {
    text-shadow: 1px 1px 1px gray;
}

.icon--ei-arrow-right {
    width: 1rem;
    top: 0.53rem;
}

/***** 헤더 ******/
header {
    background-color: rgba(255,255,255,0);
    font-size: 0.75rem;
    transition: all 0.5s ease;
}
.topbar a{
    color:black;
}
.topbar .icon:hover{
    color:#7f0019;
}
.topbar .icon{
    color:black;
}

@media (min-width: 992px) {
    nav .dropdown:hover>.dropdown-menu {
      display: block;
    }
}

/* 헤더 - 좌측 지역 설정 */
.loca-dropdown {
    margin-top:-3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.65rem;
    line-height: 1.1rem;
}
.loca-wrapper {
    width:250px;
    padding: 1.7rem 1rem;
}
.loca-wrapper .icon {
    fill:#000;
}
.loca-wrapper a {
    color:#888 !important;
}
.loca-wrapper a:hover {
    color:#7f0019 !important;
}
.loca-wrapper h5 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
}
.loca-wrapper h6 {
    font-size: 0.7rem;
}
.loca-wrapper ul {
    list-style: none;
}
.loca-wrapper ul>li {
    padding: 0.2rem;
    display: block;
}
.loca-wrapper .store-locater a{
    color:black !important;
}
.loca-wrapper .store-locater a:hover{
    text-decoration: underline;
}

/* 헤더 - 중앙 로고 */
.topbar-logo img{
    width:100%; max-width:220px; margin:30px 0;
}

/* 헤더 - 우측 유저 버튼 */
.srch-btn:hover {
    color:#7f0019;
}
.topbar-cart-icon .badge {
    background-color: #7f0019;
    border-radius: 20px;
    color:#fff;
    font-size: 0.3rem;
    position: relative;
    top:-1rem;
    right: 0.5rem;
    margin-right:-0.5rem;
}
.topbar-cart-icon:hover .badge {
    background-color: #7f0019;
}

.cart-dropdown {
    width:300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
}
.cart-dropdown .icon {
    color:black;
}
.cart-dropdown .cart-product a {
    padding-top: 0px;
    line-height: 1.2rem;
    color:black;
    height: 100%;
}
.cart-dropdown a:hover {
    color:#888;
}
.cart-dropdown p {
    padding:0; margin:0;
}
.cart-dropdown .cart-product-wrapper {
    padding: 1.7rem 1rem;
}
.cart-dropdown .cart-product img {width:75px;}
.cart-dropdown .cart-item-text {
    width: 130px;
    height: 100%;
}
.cart-dropdown .cart-item-text:hover a>p>strong {
    color:#7f0019;
}

.cart-btn {
    margin: 0 0.2rem;
}
.cart-btn a {
    color:black;
}
.cart-btn .view-btn{
    padding: 0.4rem 0;
}
.cart-btn .view-btn a:hover {
    color:#7f0019;
    border-bottom: 1px solid #7f0019;
}
.cart-btn .chkout-btn {
    padding: 0.4rem 0;
    border:1px solid black;
}
.cart-btn .chkout-btn:hover {
    background-color: #7f0019;
    border:1px solid #7f0019;
}
.cart-btn .chkout-btn:hover a {
    color:white;
}

/* 헤더 - 내비게이션(카테고리) 영역 */
.category li.dropdown {
    border-bottom: 2px solid transparent;
}
.category li.dropdown:hover {
    border-bottom: 2px solid black;
}
.category li.dropdown:active {
    border-bottom: 2px solid black;
}
.category li.dropdown>a {
    font-weight: 400;
    color:black;
}
.category li.dropdown>a:hover {
    padding:0; margin:0; color:black;
}
.category li.dropdown>a:active {
    padding:0; margin:0; color:black;
}
.category .dropdown-menu {
    position: absolute;
    width:100%;
    top:102%;
    left:-50%; right:-50%;
    padding:0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size:0.73rem;
    background-color: rgba(255,255,255,0.95);
}
.category .dropdown-menu.muji-special {
    left:-25%;
}
.category .dropdown-menu>li>a {
    display: block;
    padding: 0.8rem 0;
}
.category .dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color:#7f0019;
}

/* 헤더 - 카테고리 - 스크린 작을 때 드롭다운 설정 */
@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        width: 200px;
        top: 100%;
        padding: 15px;
        width: 100%;
        transition: all 0.3s ease-in;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        transition: all 0.2s ease;
        top: 0%;
    }
    .navbar-collapse.show {
        top:100%;
    }
    
    .category-wrapper {
        background-color: rgba(255,255,255,0.95);
        padding:0;
        padding-bottom:20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .category li.dropdown {
        margin:0 !important; padding:0 !important;
        border:none ;
    }
    .category li.dropdown:hover {
        border:none!important;
    }
    .category li.dropdown>a {
        display: block;
        padding: 0.7rem 2rem !important;
    }
    .category li.dropdown a:hover {
        display: block;
        padding: 0.7rem;
        background-color: rgba(0, 0, 0, 0.04);
        color:#7f0019;    
    } 
    .category .dropdown-menu {
        position: inherit;
        text-align: inherit;
        left:0; right:0;
        margin:0;
        text-indent: 3rem;
        background-color: rgba(0,0,0,0.04);
        box-shadow: none;
        padding:0;
    }
    .category .dropdown-menu.muji-special {
        left:0; right:0;
    }
    .category .dropdown-menu>li>a {
        font-size: 0.7rem; font-weight: 400;
        color:black;
        padding: 0.8rem 0;
    }
    .category .dropdown-menu>li>a:hover {
        padding: 0.8rem 0;
        background-color: rgba(0, 0, 0, 0.06);
    }
    
    .category-sm {
        margin-bottom: -20px !important;
    }
    .category-sm>li {
        width:33.3%;
    }
    .category-sm .icon{
    margin-top: 8px;    
}
    .category-sm a {
        display: block;
        margin: 0;
    }
    .category-sm a:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    .category-sm span {
        display: block;
        margin-top:-5px;
        padding-bottom: 10px;
    }
}

/* 헤더 전체 - 스크롤 다운 시 세로 줄어들게 설정 */
.top-nav-wrapper.compressed {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
.top-nav-wrapper.compressed .topbar-logo img {
    width:60%; max-width:130px;
        margin: 20px 0;
} 

/* 푸터 영역 */
footer {
    margin-top: 6rem;
    background-color: #f8f8f8;
    font-size: 0.65rem; 
}
footer>div {
    padding: 1.5rem;
}
footer p>a{
    border-bottom: 1px solid black;
}
footer p>a:hover {
    border-bottom: 1px solid #7f0019;
}
footer p{
    color: #555;
    margin:0.3rem 0;
}

.muji-sns {
    background-color: #eee;
}
.muji-sns ul, li {list-style: none;}
.muji-sns img {
    height:16px; padding:0; margin-top:6px;
}
.muji-sns-icons li div {
    padding:0;
    margin-bottom: -2px;
}
.muji-sns-icons .icon {
    fill: #444;
}
.muji-sns-icons .icon:hover{
    fill:#7f0019;
}
.footer-q-mnu {
    
}
.footer-q-mnu li{
    margin-right: 1rem; 
}

.footer-contents div { 
    padding: 0.4rem 0.7rem;
}
.footer-contents img {
    margin-left:-8px;
    height:40px;
}

.footer-links div{
    padding:0;
    margin-right: 0.7rem;
}
.footer-links p{
    margin: 0.1rem 0;
}

.footer-copyright {
    font-size: 0.6rem;
    padding-top: 0 !important;
    text-align: center;
}
.footer-copyright hr{
    opacity: 0.3;
}

/* top 버튼 */
.go-top{
    display: inline-block;
    position: fixed;
    bottom: 0;
    border:1px solid black;
    width: 35px;
    height: 35px;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    opacity:0;
    transition: opacity 0.2s ease;
}
.go-top .icon {
    fill:black;
    margin: 5px;
}
.go-top.show {
    opacity:1;
}
.go-top:hover {
    border: 1px solid #7f0019;
    background-color: #7f0019;
    opacity:1;
}
.go-top:hover .icon {
    fill:white;
}


/* 검색창 모달 */
#srch-modal .icon {
    color: #999;
}
#srch-modal .icon:hover {
     fill:#7f0019;
}
.modal-backdrop {
    z-index: 1019;
}
.modal {
    width:100vw;
}
.modal-dialog {
    width:100%;
    margin: 0 auto;
}
.modal-content {
    width:100vw;
    height: 100vh;
    margin: 0 auto;
    border-radius: 0;
    background-color: rgba(255,255,255,0.9);
}
.modal-content .submit-btn {
    height:30px;
    margin: 2px 0 0 -40px;
}
.form-group {
    width:80%;
    max-width: 500px;
}
.form-control {
    outline:none;font-size:0.9rem;font-weight:300;background:none;border:none;border-bottom:1px solid #aaa;
    border-radius: 0; background-color: to;
}
.form-control[type="text"] {
    background: transparent;
}
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

/* 스크롤바 설정 */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #000;}
::-webkit-scrollbar-thumb:hover {background: #000;}

