@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 400;
    font-size: 0.7rem;
    color:#333;
    padding:0 !important;
    background-color: #f7f6f3;
}
a, button {
    color:#333;
}
a:hover, button:hover {
    color:#333;
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
button {
    outline:none;
    background: transparent;
    border:none;
    box-shadow: none;
    cursor:pointer;
    padding: 0;
}
select:focus,
button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
.icon {
    width: 20px;
}
.form-group {
    width:100%;
    margin:0; 
}
.form-control {
    outline:none; width:100%;
    font-weight:300;
    padding:0.4rem 0.2rem;
    background:none;border:none;
    border-bottom:1px solid #888;
    font-size: 0.7rem;
    border-radius: 0; 
}
.form-control[type="text"] {
    background: transparent;
}
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
    border-bottom: 1px solid #7f0019;
}
.form-group .submit-btn {
    position: absolute !important;
    right:0; bottom:0;
}
.form-group .submit-btn .icon{
    fill:#888;
}
.form-group .submit-btn:hover .icon{
    fill:#7f0019;
}

.dropdown-menu {border:0; border-radius: 0;}
.dropdown-toggle::after {display:none;}

.close-btn {
    position: absolute;
    color:#888; 
    top:5px; right:8px; 
}

.hover-underline::after,
.topbar-left .nav-item>a::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #7f0019;
    transition: width 0.3s;
}
.hover-underline:hover {
    color:#7f0019;
}
.hover-underline:hover::after,
.topbar-left .nav-item>a:hover::after{
    width: 100%;
}
.discover-btn {
    display:inline-block;
    border:1px solid #999;
    width: 10rem; height:3rem;
    margin:0;
    background: linear-gradient(to right, #7f0019 50%, transparent 50%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all .5s ease;
}
.discover-btn>a {
    display: block; 
    width: 100%; height: 100%;
    color:#777; 
    font-size: 0.7rem;
    line-height: 3rem;
    text-indent: 1rem;
    font-weight: 300;
}
.discover-btn>a::after {
    content: '→';
/*    position: absolute;*/
    margin-left: 2.3rem;
}
.discover-btn:hover {
    border: 1px solid #7f0019;
    background-position: left bottom;
}
.discover-btn:hover a{
    color:#fff;
}


/*** 헤더 ***/

header {
    height:78px;
    padding: 0 2rem !important;
    margin-bottom: 3rem;
    background-color: #f7f6f3;
    transition: all 0.5s ease;
}
header .nav-item {
    padding-right: 1.3rem;
    font-weight: 400;
}

/* 카테고리 탭  +  사이드바 */
.cate-open-btn {
    cursor:pointer;
}

.nav-tabs-wrapper { /*서브메뉴 클릭시 위에 올라오도록*/
    position: relative;
    z-index: 1032;
}

.nav-tabs-container {
    position: fixed;
    top:0;
    left:0;
    padding-top:78px;
    height:100%;
    width:300px;
/*    left:0;*/
    left:-300px;
    transition: left 1s ease;
    background-color: #fff;
    z-index: 1030;
}
.nav-tabs-wrapper.tabs-in-sidebar {
    position: fixed;
    margin-top: -2rem;
    width: 300px;
/*    margin-top: 3rem;*/
    padding-left:2rem !important;
    left:-300px;
    transition: all 1s ease;
}
.topbar-left .nav-item>a:hover,
.topbar-right .nav-item:hover,
.topbar-right .icon:hover,
.category a:hover, 
.category a[aria-expanded="true"],
.subcategory a:hover{
    color:#7f0019;
}

.nav-tabs-container.tab-content .tab-pane {
    padding-top: 7rem !important;
}

.nav-tabs-container .store-tab, .search-tab {
    padding: 0 2rem;
}

.sidebar-overlay {
    position: fixed;
    left:0; top:0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 1029;
}

.topbar-logo img {
    width: 100%;
    max-width:180px;
    transition: width 0.5s ease;
}

.topbar-right>a{
/*    padding-right: 1.3rem;*/
}

.topbar-right>a.icon {
    position: absolute;
    top:-1rem;
    width:1.2rem;
    cursor:pointer;
    right:0;
}
.topbar-right>a.icon:hover {
    cursor: pointer;
}
.topbar-right .login-btn .icon {
    width: 1.4rem;
}

/* 스크롤 다운 시 헤더 줄어들게 설정 */
header.compressed {
    height:56px;
    background-color: rgba(247,246,243,0.95);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
/*    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

header.compressed .topbar-logo img {
        max-width: 140px;
    }


/* 사이드바 - 제품보기, 읽기 탭 */
.category {
    padding-left: 2rem;
    font-size: 0.85rem;
}
.category>li {
    padding: 0.3rem 0;
}
.subcategory {
    margin: 0.3rem 0;
    padding:0;
}
.subcategory>li {
    margin-left:1rem;
    margin-bottom: 0.3rem;
}
.subcategory a{
    color:#888;
    font-size: 0.7rem;
}
.subcategory.collapsing {
    transition: height 0.5s ease;   
}


/* 사이드바 - 방문 */

.select-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border:0;
    border-bottom: 1px solid #888;
    border-radius: 0px;
    background-color: transparent;
}
.select-wrapper::after {
    position: absolute;
    right:4px; bottom:8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#888;
    content:'\f107';
}
.select-wrapper select {
    border:0;
    width: 100%; height: 2rem;
    box-shadow: none;
    padding: 0 0.2rem;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    font-weight: 300;
    text-overflow: ellipsis;
}
.map-wrapper {
    height:200px;
    margin-top: 3rem;
}
.map-wrapper #map {
    height: 100%;
}


/* 사이드바 - 검색 */
.search-form {
    position: relative;
    height: 2rem;
}
.search-form .submit-btn {
    position: absolute !important;
    right:0; bottom:0;
}
.search-form .form-control{
    height: 2rem;
    margin-top: 1px;
}




/* 로그인 모달 */


#login-modal .modal {
    width:100vw;
}
#login-modal .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    max-width:100%;
    width:100vw;
    pointer-events:auto; 
}
.login-wrapper  { 
    position: relative;
    padding:2.5rem 2.5rem 2rem;
    max-width: 360px;
    background-color: rgba(255,255,255,0.95);
    font-size: 0.65rem; 
    line-height: 1.5;
    border-radius: 0;
    
}
.login-wrapper h6{
    font-weight: 300;
    font-size: 0.75rem;
}
.login-wrapper .form-group {
     margin-bottom: 1rem;   
}
.login-wrapper .form-control{
    background-color: rgba(0, 0, 0, 0.07);
    padding:0.4rem;
    border-bottom: 1px solid transparent;
    font-weight: 400;
}
.login-wrapper .form-control:focus {
    border-bottom: 1px solid #7f0019;
} 
.login-wrapper .submit {
    margin: 0.5rem 0;
    width: 100%; padding:0.65rem;
    background-color: #777;
    color:white;
    text-align: center;
    letter-spacing: 0.1rem;
}
.login-wrapper .submit:hover {
    background-color: #7f0019;
}

.login-wrapper .login-links a{
    border-bottom: 1px solid #333;
}
.login-wrapper .login-links a:hover {
    color: #7f0019;
     border-bottom: 1px solid #7f0019;
}
.login-wrapper .login-text {
    margin-top: 1.5rem;
    color: #777;
}
.login-wrapper .login-text li {
    list-style-type: circle;
    padding: 0.1rem 0;
    margin-left: 7px;
}


/* 카트 드롭다운 */
.cart-dropdown {
    width:300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.65rem;
}
.cart-product-wrapper {
    padding: 1.7rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-product-wrapper p {
    padding:0; margin:0;
}
.cart-product a {
    padding-top: 0px;
    line-height: 1.2rem;
}
.cart-product img {
    width:75px;
}
.cart-product .cart-item-text {
    width: 130px;
    height: 100%;
    margin-left: 10px;
}
.cart-product .cart-item-text:hover .item-name {
    color:#7f0019;
}
.cart-product .item-del {
    color:#888;
}
.cart-product-wrapper{animation-name: fade; animation-duration: 0.3s;}
    @keyframes fade {
        from {opacity:0}
        to {opacity:1;}
    }

/* 컨텐츠 */
section {
    padding:0 2rem;
    margin-top: 2rem;
}

/* 현재 위치 네비게이션 */
.navigation p{
/*    margin-top: 1.5rem;*/
}
.nav-subcate{
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}

.nav-subcate li{
    padding: 1rem 0.5rem;
}
.nav-subcate li a{
    color: #777;
    font-size: 0.75rem;
    white-space: nowrap;
    word-break: keep-all;
}

.nav-subcate li a.active{
    color:#7f0019;
    border-bottom: 1px solid #7f0019;
}


/* 페이징 */
.pagination {
/*    border:1px solid black;*/
}

.pagination .page-item {
}
.pagination .page-link {
/*    border:1px solid red;*/
    background-color: transparent;
    border:none;
    color:#888;
}
.pagination .page-link:hover {
    color:#7f0019;
}
.pagination .page-item.active .page-link{
    border:0;
    background-color: transparent;
    color:#7f0019;
    font-weight: 600;
}
.pagination .page-item.disabled .page-link{
    background-color: transparent;
    color:rgba(0,0,0,0.2);
}





/* 푸터 */

footer {
    margin-top:5rem!important;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
/*    background-color: #f7f7f7;*/
    font-size: 0.75rem;;
}
.footer-wrapper {
    padding: 1.5rem 2rem;
}
.footer-laws .footer-logo-lotte {
    margin-top: -5px;
    margin-left:-15px;
    height:50px;
    border:none;
}
.footer-laws {
    font-size: 0.7rem;
}
.footer-laws li{
    margin-right: 1rem;
}
.footer-laws p>a,
.footer-laws li,
.footer-laws address>a{
    border-bottom: 1px solid #333;
}
.footer-laws address {
    max-width: 85%;
    line-height: 1.6;
}
.footer-list ul li{
    padding: 0.4rem 0;
}
.footer-list ul li a{
    font-size: 0.7rem;
}
.footer-list ul li a .icon{
    fill:#333;
    width: 22px;
}
.footer-list ul li a:hover,
.footer-list ul li a .icon:hover{
    color:#7f0019;
    fill:#7f0019;
}
.footer-newsletter {
/*    margin-top: -2rem;*/
}
.footer-newsletter .form-group {
    width: 80%;
}
 .footer-newsletter .form-control {
    font-size: 0.65rem;   
}

.footer-bottom {
    margin-top: 1.5rem;
    background-color: #333;
    height:35px;
    line-height: 35px;
    color:#d0d0d0;
    font-size: 0.6rem;
    text-align: center;
}
.footer-bottom p, 
.footer-bottom a{
    margin:0;
    color: #fff;
}


/* top 버튼 */
.go-top{
    display: inline-block;
    position: fixed;
    bottom: 0;
    border:1px solid #333;
    width: 35px;
    height: 35px;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    opacity:0;
    transition: opacity 0.2s ease;
}
.go-top .icon {
    fill:#333;
    margin: 5px;
}
.go-top.show {
    opacity:1;
}
.go-top:hover {
    border: 1px solid #7f0019;
    background-color: #7f0019;
    opacity:1;
}
.go-top:hover .icon {
    fill:white;
}

/* 스크롤바 설정 */
::-webkit-scrollbar {width: 5px; height:2px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #444;}
::-webkit-scrollbar-thumb:hover {background: #444;}
::-webkit-scrollbar-thumb:horizontal {background-color:#999;}
::-webkit-scrollbar-thumb:horizontal:hover{background-color:#333;}

/* 태블릿 */
@media (max-width: 992px) {
    header {
        padding:0 1rem !important;
        height:56px;
        background-color: rgba(247,246,243,0.95);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
/*        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
    }
    section {
        padding:0 1rem;
    }
    .footer-wrapper {
        padding: 1.5rem 1.5rem;
    }
    .topbar-logo img {
        max-width: 140px;
    }    
    footer .footer-laws address {
        max-width: 100%; }
    footer .footer-links {
        order: 1;
    }
    footer .footer-laws {
        order: 2;
        margin-top: 3rem;
    }    
}

/* 폰 */
@media (max-width: 575px) {
    .topbar-right>a>.icon {
/*            margin-top: -4px;*/
        }
    .nav-tabs-container.tab-content .tab-pane {
    padding-top: 4rem !important;
}
    .nav-subcate{
        justify-content: flex-start;
    }
    .footer-newsletter {
/*        padding-left: 1rem !important;*/
        margin-bottom: 2.5rem;;
    }
    .footer-newsletter .form-group {
        width: 100%;
    }
}
