@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 400;
    color:#444;
}

section, footer {
    overflow-x: hidden;
}

a {color:#444;}
a:hover {color:#7f0019; text-decoration: none;}

.dropdown-menu {border:0; border-radius: 0;}
.dropdown-toggle::after {display:none;}

.form-control {
    outline:none;
    font-size:0.9rem;font-weight:300;
    background:none;border:none;
    border-bottom:1px solid #999;
    border-radius: 0; 
}
.form-control[type="text"] {
    background: transparent;
}
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
    border-bottom: 1px solid #7f0019;
}

button {
    outline:none;
    background: transparent;
    border:none;
    box-shadow: none;
    cursor:pointer;
}
button:focus {
    outline: 0 !important;
}

.txt-shdw {
    text-shadow: 1px 1px 1px gray;
}

.icon--ei-arrow-right {
    width: 1rem;
    top: 0.53rem;
}

/***** 헤더 ******/
header {
    background-color: rgba(255,255,255,0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    font-size: 0.75rem;
    transition: all 0.5s ease;
    margin-bottom: 3rem;
}
.topbar a, .icon{
    color:#444;
}
.topbar .icon:hover{
    color:#7f0019;
}
@media (min-width: 992px) {
    nav .dropdown:hover>.dropdown-menu {
      display: block;
    }
}

/* 헤더 - 좌측 지역 설정 */
.loca-dropdown {
    margin-top:-3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.65rem;
    line-height: 1.1rem;
}
.loca-wrapper {
    padding: 1.7rem 1.3rem;
}
.loca-wrapper .icon {
    fill:#444;
}
.loca-wrapper a {
    color:#888 !important;
}
.loca-wrapper a:hover {
    color:#7f0019 !important;
}
.loca-wrapper h5 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
}
.loca-wrapper h6 {
    font-size: 0.7rem;
}
.loca-wrapper ul {
    list-style: none;
}
.loca-wrapper ul>li {
    padding: 0.2rem;
    display: block;
}
.loca-wrapper .store-locater a{
    color:#444 !important;
}
.loca-wrapper .store-locater a:hover{
    text-decoration: underline;
}

/* 헤더 - 중앙 로고 */
.topbar-logo img{
    width:100%; max-width:220px; margin:30px 0;
    transition: all 0.5s ease;
}

/* 헤더 - 우측 유저 버튼 */
.srch-btn:hover {
    color:#7f0019;
}
.cart-dropdown {
    width:300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
}
.cart-dropdown .icon {
    color:#444;
}
.cart-dropdown .cart-product a {
    padding-top: 0px;
    line-height: 1.2rem;
    color:#444;
    height: 100%;
}
.cart-dropdown a:hover {
    color:#888;
}
.cart-dropdown p {
    padding:0; margin:0;
}
.cart-dropdown .cart-product-wrapper {
    padding: 1.7rem 1rem;
}
.cart-dropdown .cart-product img {width:75px;}
.cart-dropdown .cart-item-text {
    width: 130px;
    height: 100%;
}
.cart-dropdown .cart-item-text:hover a>p>strong {
    color:#7f0019;
}

.cart-btn {
    margin: 0 0.2rem;
}
.cart-btn .view-btn{
    padding: 0.4rem 0;
}
.cart-btn .view-btn a:hover {
    color:#7f0019;
    border-bottom: 1px solid #7f0019;
}
.cart-btn .chkout-btn {
    padding: 0.4rem 0;
    border:1px solid #444;
}
.cart-btn .chkout-btn:hover {
    background-color: #7f0019;
    border:1px solid #7f0019;
}
.cart-btn .chkout-btn:hover a {
    color:white;
}

/* 헤더 - 내비게이션(카테고리) 영역 */
.category li.dropdown {
    border-bottom: 2px solid transparent;
}
.category li.dropdown:hover {
    border-bottom: 2px solid #444;
}
.category li.dropdown:active {
    border-bottom: 2px solid #444;
}
.category li.dropdown>a {
    font-weight: 400;
    color:#444;
}
.category li.dropdown>a:hover {
    padding:0; margin:0; color:#444;
}
.category li.dropdown>a:active {
    padding:0; margin:0; color:#444;
}
.category .dropdown-menu {
    position: absolute;
    width:100%;
    top:102%;
    left:-50%; right:-50%;
    padding:0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size:0.73rem;
    background-color: rgba(255,255,255,0.95);
}
.category .dropdown-menu.muji-special {
    left:-25%;
}
.category .dropdown-menu>li>a {
    display: block;
    padding: 0.8rem 0;
}
.category .dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color:#7f0019;
}

/* 헤더 - 카테고리 - 스크린 작을 때 드롭다운 설정 */
@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        padding: 15px;
        width: 100%;
        top: 100%;
        transition: all 0.4s ease;
    }
    .navbar-collapse.show {
        top:100%;
    }
    
    .category-wrapper {
        background-color: rgba(255,255,255,0.95);
        padding:0;
        padding-bottom:20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .category li.dropdown {
        margin:0 !important; padding:0 !important;
        border:none ;
    }
    .category li.dropdown:hover {
        border:none!important;
    }
    .category li.dropdown>a {
        display: block;
        padding: 0.7rem 2rem !important;
    }
    .category li.dropdown a:hover {
        display: block;
        padding: 0.7rem;
        background-color: rgba(0, 0, 0, 0.04);
        color:#7f0019;    
    } 
    .category .dropdown-menu {
        position: inherit;
        text-align: inherit;
        left:0; right:0;
        margin:0;
        text-indent: 3rem;
        background-color: rgba(0,0,0,0.08);
        box-shadow: none;
        padding:0;
    }
    .category .dropdown-menu.muji-special {
        left:0; right:0;
    }
    .category .dropdown-menu>li>a {
        font-size: 0.7rem; font-weight: 400;
        color:#444;
        padding: 0.8rem 0;
    }
    .category .dropdown-menu>li>a:hover {
        padding: 0.8rem 0;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .category-sm {
        margin-bottom: -20px !important;
    }
    .category-sm>li {
        width:33.3%;
    }
    .category-sm .icon{
        margin-top: 8px;    
    }
    .category-sm a {
        display: block; 
        margin: 0;
    }
    .category-sm span {
        display: block;
        color:#444;
        font-size: 0.65rem;
        margin-top:-5px;
        padding-bottom: 10px;
    }
    .category-sm>li:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    .category-sm>li:hover span{
        color:#7f0019;
    }
    .category-sm>li:hover .icon{
        fill:#7f0019;
    }
}
/* 헤더 전체 - 스크롤 다운 시 세로 줄어들게 설정 */
.top-nav-wrapper.compressed {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
        }
.top-nav-wrapper.compressed .topbar-logo img {
    width:60%; max-width:130px;
    margin: 20px 0;
} 
@media (max-width: 992px) {
    .top-nav-wrapper .topbar-logo img {
        width:60%; max-width:130px;
        margin: 20px 0;
    } 
}
/* 푸터 영역 */
footer  {
    margin-top:3rem;
    background-color: #fff;
    background-color: #f8f8f8;
    font-size: 0.65rem; 
}
footer>div {
    padding: 1.5rem;
}
footer p>a{
    border-bottom: 1px solid #444;
}
footer p>a:hover {
    border-bottom: 1px solid #7f0019;
}
footer p{
    color: #555;
    margin:0.3rem 0;
}

.muji-sns {
    background-color: #eee;
}
.muji-sns ul, li {list-style: none;}
.muji-sns img {
    height:16px; padding:0; margin-top:6px;
}
.muji-sns-icons li div {
    padding:0;
    margin-bottom: -2px;
}
.muji-sns-icons .icon {
    fill: #444;
}
.muji-sns-icons .icon:hover{
    fill:#7f0019;
}
.footer-q-mnu li{
    margin-right: 1rem; 
}

.footer-contents div { 
    padding: 0.4rem 0.7rem;
}
.footer-contents img {
    margin-left:-8px;
    height:40px;
}

.footer-links div{
    padding:0;
    margin-right: 0.7rem;
}
.footer-links p{
    margin: 0.1rem 0;
}

.footer-copyright {
    font-size: 0.6rem;
    padding-top: 0 !important;
    text-align: center;
}
.footer-copyright hr{
    opacity: 0.3;
}

/* top 버튼 */
.go-top{
    display: inline-block;
    position: fixed;
    bottom: 0;
    border:1px solid #444;
    width: 35px;
    height: 35px;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    opacity:0;
    transition: opacity 0.2s ease;
}
.go-top .icon {
    fill:#444;
    margin: 5px;
}
.go-top.show {
    opacity:1;
}
.go-top:hover {
    border: 1px solid #7f0019;
    background-color: #7f0019;
    opacity:1;
}
.go-top:hover .icon {
    fill:white;
}

/*로그인 모달*/
#login-modal .modal {
    width:100vw;
}
#login-modal .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    max-width:100%;
    width:100vw;
    pointer-events:auto; 
}
.login-wrapper {
    position: relative;
    max-width: 360px;
    padding: 3rem 2.5rem;
    font-size: 0.75rem;
    border-radius: 0;
    background-color: rgba(255,255,255,0.9);
}
.login-wrapper .login-close-btn {
    position: absolute;
    top:5px; right:0; 
}
.login-wrapper .icon {
    fill:#999;
}
.login-wrapper .icon:hover {
    fill:#7f0019;
}
.login-wrapper h6 {
    font-size: 0.8rem;
}
.login-wrapper .login-header {
    border-bottom: 1px solid #999;
}
.login-wrapper .login-form {
    margin-top:3rem;
}
.login-wrapper .form-control{
    background-color: rgba(0, 0, 0, 0.07);
    padding:0.4rem;
    border-bottom: 1px solid #eee;
    font-size: 0.7rem;
    font-weight: 400;
}
.login-wrapper .form-control:focus {
    border-bottom: 1px solid #7f0019;
} 
.login-wrapper .login-submit {
    margin: 0.5rem 0;
    width: 100%; padding:0.65rem;
    background-color: #777;
    color:white;
    text-align: center;
    letter-spacing: 0.1rem;
}
.login-wrapper .login-submit:hover {
    background-color: #7f0019;
}
.login-wrapper .login-links a{
    border-bottom: 1px solid #444;
}
.login-wrapper .login-links a:hover {
     border-bottom: 1px solid #7f0019;
}
.login-wrapper .login-text {
    margin-top: 1.5rem;
    font-size: 0.6rem;
    color: #777;
}
.login-wrapper li {
    list-style-type: circle;
    padding: 0.1rem 0;
    margin-left:13px;
}

/* 검색창 모달 */
#srch-modal .icon {
    color: #777;
}
#srch-modal .icon:hover {
     fill:#7f0019;
}
#srch-modal .modal-backdrop {
    z-index: 1019;
}
#srch-modal .modal {
    width:100vw;
    height:100vh;
}
#srch-modal .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    max-width:100%;
    width:100vw;
    
    pointer-events:auto; 
}
#srch-modal .modal-content {
    position: relative;
    width:85vw;
    height: 60vh;
    max-width: 600px;
    padding: 3rem 2.5rem;
    font-size: 0.75rem;
    border-radius: 0;
    background-color: rgba(255,255,255,0.9);
}
#srch-modal .srch-close-btn {
    position: absolute;
    top:5px; right:0; 
}
#srch-modal .modal-content .submit-btn {
    height:30px;
    margin: 2px 0 0 -40px;
}
#srch-modal .form-group {
    width:90%;
    max-width: 500px;
}
/* 스크롤바 설정 */
::-webkit-scrollbar {width: 5px; height:2px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #444;}
::-webkit-scrollbar-thumb:hover {background: #444;}

::-webkit-scrollbar-thumb:horizontal {
    background-color:#d0d0d0;
}
::-webkit-scrollbar-thumb:horizontal:hover{
    background-color:#aaa;
}


/* 페이지 레이아웃 기본 설정 */


@media (min-width: 992px) {
    .cate-now {
        position: absolute;
        padding-left: 1.5rem;
    }
    .cate-now h5 {
        padding-bottom: 1rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .cate-now .subcate li {
        padding:0.2rem 1rem !important; 
        max-width: 150px
    }
    .cate-now .subcate li a{
        font-size: 0.7rem;
        line-height: 2;
        color: #aaa;
    }
    .cate-now .subcate li:hover a {
        color: #7f0019;
    }
    .cate-now .subcate .active a{
        color:#7f0019;
        border-bottom: 1px solid #7f0019;
    }


}

@media (max-width: 991px) {
    .cate-cont-wrapper {
        margin-top:-1.5rem !important;
    }
    .cate-now {
        padding:0 1rem 1.5rem !important;
        margin-bottom: 1.5rem!important;
        border-bottom: 1px solid #f0f0f0;
    }
    .cate-now h5 {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }
    .cate-now .subcate{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-x:scroll;
    }

    .cate-now .subcate li {
        text-align: center;
        min-width: 85px;
        max-width: 100%;
        padding: 0 0 0 0 !important;
    }
    .cate-now .subcate li a{
        display: inline-block;
        text-align: center;
        color:#888;
        font-size: 0.65rem;
        text-align: center;
        padding: 0 0 0 0 !important;
    }
    .cate-now .subcate li:hover {
    }
    .cate-now .subcate li:hover a {
        color: #7f0019;
        padding: 0 0 0 0 !important;
    }
    .cate-now .subcate .active a{
        color:#7f0019;
        border-bottom: 1px solid #7f0019;
    }
    
    .cont-section {
    }
    
}
