@charset "utf-8";

/***** 헤더 ******/
header {
    box-shadow: none;
    margin-bottom: 0;
}

/* 헤더에 마우스 올렸을 때 텍스트 색상 흰색에서 검정색 */
.top-nav-wrapper:hover,
.top-nav-wrapper.hover {
    background-color: rgba(255,255,255,0.95);
}
.top-nav-wrapper:hover .topbar a,
.top-nav-wrapper.hover .topbar a{
    color:#444;
}
.top-nav-wrapper:hover .topbar .icon,
.top-nav-wrapper.hover .topbar .icon{
    color:#444;
}
.top-nav-wrapper:hover .topbar .icon:hover,
.top-nav-wrapper:hover .topbar .icon:focus,
.top-nav-wrapper.hover .topbar .icon:hover,
.top-nav-wrapper.hover .topbar .icon:focus {
    color:#7f0019;
}
.top-nav-wrapper:hover .topbar .srch-btn,
.top-nav-wrapper.hover .topbar .srch-btn {color:#444;}
.top-nav-wrapper:hover .category li.dropdown>a,
.top-nav-wrapper.hover .category li.dropdown>a{
    color:#444;
}
.top-nav-wrapper:hover .category li.dropdown:hover>a,
.top-nav-wrapper.hover .category li.dropdown:hover>a{
    color:#7f0019;
}

@media (min-width: 992px) {
    nav .dropdown:hover>.dropdown-menu {
      display: block;
    }
}

/* 헤더 - 내비게이션(카테고리) 영역 */
.category li.dropdown>a {
    color:#444;
}

/* 헤더 전체 - 스크롤 다운 시 세로 줄어들게 설정 */
.top-nav-wrapper.compressed .icon{
    color:#444;
}
.top-nav-wrapper.compressed .topbar a:hover{
    color:#7f0019;
}
.top-nav-wrapper.compressed .category li.dropdown>a{
    color:#444;
}
.top-nav-wrapper.compressed .category li.dropdown:hover>a{
    color:#7f0019;
}

/* 헤더 드롭다운 */

.cart-btn .view-btn a:hover {
    color:#7f0019;
    border-bottom: 1px solid #7f0019;
}

.cart-btn .chkout-btn:hover a {
    color:white;
}

/* 메인 비주얼 영역 */
.banner-slider {
    margin-top: -123px;
}
.home-full-slider-wrapper {
    min-height:600px;
}
@media (min-width: 768px) {
    .home-full-slider-wrapper {height:100vh}
}
.home-full-slider {position:relative}
.home-full-slider .home-full-item {
    padding-top:125px;padding-bottom:62.5px;min-height:600px;height:auto
}
@media (min-width: 768px){
    .home-full-slider .home-full-item{min-height:100vh}
    .home-full-slider p.lead{font-size:1.215rem}
}
.banner-slider .carousel-caption {
    top: 35%;
}
.banner-slider .carousel-caption p.lead {
    margin: 1.2rem 0 3rem;
    font-size: 1rem;
}

.banner-slider .carousel-caption .discover-btn {
    display:inline-block;
    margin:0;
}
.banner-slider .carousel-caption .discover-btn>a {
    display: block; 
    color:white; padding: 0.8rem 3rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 1px solid white;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all .5s ease;
}
.banner-slider .carousel-caption .discover-btn>a:hover {
    background-position: left bottom;
    color:#444;
}
.banner-slider .carousel-control-prev .icon{
    fill:#fff;
}
.banner-slider .carousel-control-next .icon{
    fill:#fff;
}
.banner-slider a:hover .icon {
    fill:#7f0019;
    opacity:0.6;
}
.bg-image{
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:0
}
img.bg-image{
    -o-object-fit:cover;object-fit:cover;font-family:'object-fit: cover;'
}



/* BEST/NEW 아이템 영역 */
.products-slider {margin-top:6rem !important;}

.products-slider img{
    width:100%;
    min-width:90px;
    max-width: 150px;
    margin: 1rem 0;
}
.tab-title {
    text-transform: uppercase;
    font-size: .8rem;
    color:#888;
}
.tab-title .nav-item a{
    color:#888;
}
.tab-title .nav-item a.active{
    color:#7f0019 !important;
    font-weight: 500;
}

.tab-container .carousel-item {
    margin:0;
    padding-bottom: 15px;
}
.tab-container .carousel-indicators {
    bottom:-15px;
}
.tab-container .carousel-indicators li {
    background-color: #999;
    width: 1rem;
    }
.tab-container .carousel-indicators .active {
  background-color: #7f0019;
}

.items-wrapper {
    margin:0;
}
.items-container {
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0.3rem;
    margin-bottom: 1rem;
    }
.items-container a {
    display: block;
}
.item-name {
    margin:0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem; 
    text-align: center;
}
.item-price {
    font-size: 0.7rem;
    font-weight: 300;
}

/* MUJI STORY 영역 */
.mujistory {margin-top:6rem;}

.story-card-wrapper {
    padding: 0 0.3rem;
}
.story-card {
    padding: 0.3rem;
}
.card {
    position: relative;
    overflow: hidden;
}
.card img {
    display: block;
    border-radius: 0;
    transition: all 1s ease;
}
.card:hover img {
    transform: scale(1.2);
    opacity: 0.4;
}
.card-img-overlay {
    display: none;
    height:25%; 
    top:35%; padding:0;
    transition: all 1s ease;
}

.card:hover .card-img-overlay {
    display: block;
}
.card-img-overlay p {
    margin:0;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    text-align: center;
    top:50%; left:-50%; right:-50%;
    transform: translateY(-50%);
}

/* 퀵 메뉴 */
.quick-menu {margin-top:6rem;}
.quick-menu .q-icon-wrapper {
    margin-top:3rem;
}
.quick-menu a{
    display: block;
    position: relative;
    width: 14vw; max-width: 140px;
    height: 14vw; max-height: 140px;
    border-radius: 50%;
    background-color: #eee;
    transition: all 0.3s ease;
}
.quick-menu span {
    display: block;
    position: absolute;
    width: 100%;
    bottom:25%;
    font-size: 0.8rem;
    text-align: center;
}
.quick-menu a:hover{
    background-color: #f8f8f8;
}
.quick-menu a:hover span,
.quick-menu a:hover .icon{
    color:#7f0019;
}

.quick-menu .icon {
    position: absolute;
    width: 5vw;
    margin-top: auto; top:-20%; margin-bottom: auto; bottom:0;
    margin-left: auto; margin-right: auto;
    left:0; right:0;
}
@media (max-width: 576px){
    .quick-menu span{
        font-size: 0.6rem;
        bottom:23%;
    }
    .quick-menu .icon {
        top:-30%;
    }
}

footer{
    margin-top: 6rem;
}

